/* BovenJan flavour custom themes */

/* BovenJan Light - based on brand guide */
@plugin "daisyui/theme" {
  name: "bovenjan";
  default: false;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(0.98 0.01 63.2);
  --color-base-200: oklch(0.95 0.01 65);
  --color-base-300: oklch(0.94 0.01 65.01);
  --color-base-content: oklch(24% 0 0);
  --color-primary: oklch(66% 0.08 230);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #cecece;
  --color-secondary-content: oklch(35% 0 0);
  --color-accent: oklch(58% 0.17 27);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(30% 0 0);
  --color-neutral-content: oklch(97% 0 0);
  --color-info: oklch(52% 0.11 235);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(52% 0.12 150);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(64% 0.13 85);
  --color-warning-content: oklch(24% 0.04 85);
  --color-error: oklch(57% 0.19 25);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
  --spacing-page-header: 68px;
}

/* BovenJan Dark - dark teal base from #002e3e */
@plugin "daisyui/theme" {
  name: "bovenjan-dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: oklch(23% .02 220);
  --color-base-200: oklch(18% .015 220);
  --color-base-300: oklch(0.18 0.01 230.22);
  --color-base-content: oklch(92% .01 65);
  --color-primary: oklch(72% .08 230);
  --color-primary-content: oklch(15% .02 230);
  --color-secondary: oklch(0.3 0.03 230.57);
  --color-secondary-content: oklch(15% 0.02 25);

  /* accent - lighter orange */
  --color-accent: oklch(78% 0.12 60);
  --color-accent-content: oklch(18% 0.04 60);

  /* neutral - muted teal */
  --color-neutral: oklch(35% 0.03 220);
  --color-neutral-content: oklch(92% 0.005 220);

  /* state colors */
  --color-info: oklch(74% 0.07 220);
  --color-info-content: oklch(15% 0.01 220);
  --color-success: oklch(70% 0.14 155);
  --color-success-content: oklch(15% 0.01 155);
  --color-warning: oklch(78% 0.12 60);
  --color-warning-content: oklch(18% 0.04 60);
  --color-error: oklch(68% 0.17 28);
  --color-error-content: oklch(15% 0.01 28);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
  --spacing-page-header: 68px;
}
